numpy>=1.19.2
nltk>=3.5
tqdm>=4.30
checksumdir>=1.1
bert_score>=0.3.6
moverscore>=0.95
rouge>=1.0.0
tensorflow>=1.15.0,<2.0.0
torch>=1.4.0
transformers>=3.1.0
bert_score>=0.3.6
requests>=2.23.0
kendall-w>=1.0.0
spacy>=2.3.2